.sound {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sound .header2 {
    padding: 2.4rem 3.2rem;
}

.sound .header2 h1 {
    font-size: 4.5rem;
    color: #171717;
    margin-top: 6%;
    margin-left: 4%;
}

.sound .cards2 {
    width: 100%;
    gap: 1.6rem;
    margin: 1.6rem 0;
    font-size: 3rem;
    height: 26rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 2.6rem;

    margin-bottom: 10%;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

