*{
    margin: 0;
    box-sizing: border-box;
}

.bigleaf{
    -webkit-transform:rotate(300deg);
    width: 8rem;
    height: 8rem;
    position: relative;
    top:-6rem;
    right: 5rem;
}
.mulcon{
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    left: 15rem;
}
.pinkb{
    width: 10rem;
    height: 10rem;
    position: relative;
    left: 6rem;
    top: 45rem;
}
.smallleaf{
    width: 4rem;
    height: 4rem;
    position: relative;
    left: 17rem;
    top:-2rem;
    -webkit-transform:rotate(30deg);
}

.medipink{
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 18rem;
    top: -6rem;
}

.mediumpink{
    width: 4rem;
    height: 4rem;
    position: relative;
    top: -5rem;
    left: 2rem;
}

.blueGhost{
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 23rem;
    top: 3rem;
    -webkit-transform:rotate(120deg);
}

.ghostn5{
    width: 6rem;
    height: 6rem;
    position: relative;
    right: 3rem;
    top: 7rem;
    -webkit-transform:rotate(340deg);
}

.redGhost{
    width: 3rem;
    height: 3rem;
    position: relative;
    bottom: 27rem;
    right: 1.5rem;
    z-index: 1;
    
}

.ghostn5{
    width: 7rem;
    height: 7rem;
    z-index: 1;
    position: relative;
}

.purpleGhost{
    width: 3rem;
    height: 3rem;
    z-index: 1;
    position: relative;
    bottom: 12rem;
    left: 20rem;
    -webkit-transform:rotate(240deg);

}

.ghostn4{
    width: 7rem;
    height: 7rem;
    z-index: 1;
    position: relative;
    right: 6rem;
    bottom: 9rem;
    -webkit-transform:rotate(5deg);
}

.ghostn3{
    width: 7rem;
    height: 7rem;
    position: relative;
    left: 33rem;
    bottom: 25rem;
    -webkit-transform:rotate(5deg);
}

.redblob{
    width: 10rem;
    height: 10rem;
    position: relative;
    top: 27rem;
    right: 67rem;
}

.container{
    display: flex;
    position: relative;
    width: 100rem;
    border-radius: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e5fd;
}

.left{
    display: block;
    justify-content: center;
    padding: 4.5%;
    position: relative;
    top: -1.5rem;
}

.left p{
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 2.5rem;
}

.left h2{
    font-size: 5.5rem;
    font-weight: 800;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 5.5rem;
}

.imagebar{
    padding-top: 8%;
    display: flex;
}

.imagebar img:first-child{
    max-width: 17rem;
    max-height: 4rem;    
}

.imagebar img:last-child{
    max-width: 18rem;
    max-height: 4rem;
    padding-left: 40px;
}

.right{
    padding-right: 4%;
}

.dot{
    border-radius: 50%;
    border: 3px solid #ffff;
    border-style: dashed;
    width: 40rem;
    height: 40rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.circle{
    border-radius: 50%;
    background-color: rgb(214, 204, 236);
    width: 30rem;
    height: 30rem;
}

.circle img{
    position: relative;
    right: 4.6rem;
    top: -1rem;
    height: 32rem;
    width: 32rem;
}

