/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    
  }
  
  .navbar {
    background-color: #ffffff;
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }

  .logo img{
    max-width: 84px;
    border-radius: 20px;
  }
 
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #131212;
    font-size: 1.4rem;
    padding: 1.15rem;
    font-weight: 700;
  }
  
  .nav-button {
    background-color: #141414;
    color: #ffffff;
    border: none;
    padding: 26px 40px;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 40px;
  }
  
  /* Responsive Design */
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      margin-top: 10px;
      justify-content: flex-start;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .nav-button {
      margin-top: 10px;
      align-self: flex-end;
    }
  }
  
  